::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  background: rgba(0,0,0,.3);
  /*-webkit-border-radius: 1ex;*/
  /*-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);*/
}

::-webkit-scrollbar-corner {
    background: #000;
}

body{
  font-family: Roboto-Regular;
  font-size: 16px;
}

.bottom-fixed{
  border-top: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  bottom: 0;
}

.unselectable, i.material-icons{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
/*--------------FIXES---------------*/
/*.btn-flat, .btn.activator{
  text-transform: none;
  font-family: Roboto-Bold;
}*/

.row{
  margin-bottom: 0px;
}
.card{
  margin: 0px;
}
h4, .h4, .card .card-title{
  font-family: Google-Sans;
  font-size: 28px;
  margin: 0px!important;
  opacity: .85;
}
/*h4 ~ p{
  font-family: Google-Sans;
}*/
.tabs{
  background-color: transparent;
}
/*.tabs .tab a{
  font-size: 16px;
  text-transform: none;
}*/
.navbar{
  
}
.navbar .nav-wrapper{
  padding: 0px 8px;
  min-height: 64px;
  height: 48px;
}
.collapsible-header{
  padding-left: calc(1rem - 2px)
  border-left: 2px solid transparent;
}
.card-tabs{
  height: 47px;
  /*width: 250px;*/
}
.card-tabs i.material-icons{
  padding-right: 10px;
  font-size: 22px;
}
.card-tabs .tabs .tab a{
  line-height: 48px;
}
.btn.activator{
  text-transform: none;
}
#tab1 .card-reveal{
  padding: 0px;
}
#tab1, #tab2, #tab3, #tab4, #tab5{
  background-color: #f6f7fa;
}
#tab1 .card-reveal div .content{
  overflow: hidden;
  position: absolute;
  height: calc(100% - 56px);
  width: 100%;
}
#tab1 .card-reveal div .content .card-title{
  padding: 24px 24px 0px 24px;
}
#tab1 .card-reveal div .content .card-title #new-invoice{
  width: 200px;
}
#tab1 .card-reveal div .content .customer-info{
  padding: 0px 24px;
  height: 72px;
  width: 100%;
}
#tab1 .card-reveal div .content .customer-info .input-field > label{
  font-size: 16px;
}
#tab1 .card-reveal div .content .products-bought{
  height: calc(100% - 187.25px);
  width: 560px;
  margin: 0 calc(50% - 280px);
  overflow: auto;
}
#tab1 .card-reveal div .content .products-bought-label{
  width: 560px;
  margin: 0 calc(50% - 280px);
}
#tab1 #product-modal .supp-label,
#tab1 #product-modal .supplies{
  width: 560px;
  margin: 0 calc(50% - 280px);
}
#tab1 .card-reveal div .content .products-bought-label div{
  margin: 10px;
  margin-bottom: 15px;
  font-size: 17px;
  font-family: Roboto-Bold;
  opacity: .8;

}
#tab1 .card-reveal div .buttons{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  bottom: 0px;
  position: absolute;
  height: 56px;
  padding: 4px 6px;
}

.card-reveal .datepicker-date-display, .modal .modal .modal-content .datepicker-date-display{
  display: none;
}

.card .tabs .indicator{
  display: none;
}
.tabs .tab a:hover, .tabs .tab a.active{
  /*color: rgba(255,144,0,1);*/
  background: linear-gradient(to left, #fe9923 0%, rgba(255,0,0,.7) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tabs .tab a{
  color: rgba(0,0,0,.54);
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background-color: rgba(244, 223, 176, 0.2);
}
.tabs .indicator{
  background: linear-gradient(to left, #fe9923 0%, rgba(255,0,0,.7) 99%)!important;
  /*background-color: rgba(255,255,255,.54)*/
}
.theme-gradient .tabs .tab a{
  background-color: transparent;
  color: rgba(0,0,0,.54)
}
.card-reveal .input-field{
  margin-top: 0px;
  margin-bottom: 0px;
}
.card-reveal .product-field>div, .card-reveal .new-transaction .row .input-field.col{
  margin: 0 10px;
}

.card-reveal .select-wrapper input.select-dropdown, 
.card-reveal input[type=text], 
.card-reveal input[type="number"],
#product-modal .suppliers-name input[type=text]{
  height: 2.3rem;
  padding-bottom: 1px;
  font-size: 14.5px;
}
#product-modal .suppliers-name label{
  left: 10px;
}
#product-modal .suppliers-name input[type=text],
#product-modal .suppliers-name .input-field{
  height: 42px;
  margin: 0px;
}
.card-reveal .selects-container input[type=text] {
  height: 3rem;
}
.card-reveal .customer-info input[type="text"], .card-reveal .customer-info input[type="number"]{
  padding-bottom: 4px;
}

ul.dropdown-content.select-dropdown{
  width: 200px!important;
  height: 250px!important;
  /*display: flex;*/
}
ul.dropdown-content.select-dropdown li.disabled{
  display: block!important;
  width: auto!important;
}
ul.dropdown-content.select-dropdown li{
  clear: none!important;
  height: 50px!important;
  left: auto!important;
  right: auto!important;
  width: 90px!important;
  display: -moz-inline-box!important;
  display: inline-block!important;
}

.modal-content p{
  margin: 7px 0px 25px 0px;
  opacity: .8;
}



/*--------------FIXES END---------------*/
/*--------------UNIVERSALS---------------*/
.noshadow{
  box-shadow: none;
}
.defcurs{
  cursor: default;
}

.op0{
  opacity: 0;
}
.op0 input{
  cursor: default;
}
.mar0{
  margin: 0px;
}
.ova{
  overflow-x: hidden;
  overflow-y: auto;
}


.submit-btn.disabled{
  color: #b3b2b2 !important;
  cursor: default;
}
.w50{
  width: 50px;
}
.w80{
  width: 80px;
}
.w100{
  width: 100px;
}
.w160{
  width: 160px;
}
.w120{
  width: 120px;
}
.w400{
  width: 400px;
}
.w500{
  width: 500px;
}
.w600{
  width: 600px;
}
.p20{
  padding: 20px;
}


.w160 .select-wrapper, 
.w160 input[type="text"], 
.w120 input[type="text"],
.w100 input[type="number"],
.w80 input[type="number"]
{
  width: calc(100% - 18px)
}

.chk-heads input[type="number"]{
  width: 42px;
}

.w100 span, .w120 span{
/*  font-size: 14.5px;
  line-height: 2.3rem;
  height: 2.3rem;
  padding-bottom: 3px;
  margin: 0px 5px 8px 10px;
  color: red;*/
  /*color: #9e9e9e;*/
}

.theme-gradient{
  background: linear-gradient(to left, #fe9923 0%, #fcbf29 99%);
  /*color: rgba(0,0,0,.7);*/
}
.theme-gradient:hover{
  background: linear-gradient(to left, #fcbf29 0%, #f3d34a 99%);
}
.hidden{
  display: none;
}

input[type="text"].gbtn{
  transition: background-color 100ms linear;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  height: 32px;
}
input[type="text"].gbtn:hover{
  background-color: rgba(0,0,0,0.08);
}

.dot::before{
  content: "";
  position: absolute;
  border-radius: 9px;
  height: 15px;
  width: 15px;
  transform: translate(-8px,4px);
  background-color: rgba(0, 0, 0, 0.87);
  /*background-color: #26a69a;*/
}
.red2{
  border-left: 3px solid #e84855;
}
.yellow2{
  border-left: 3px solid #fffd82;
}
.orange2{
  border-left: 3px solid #ff9b71;
}
.green2{
  border-left: 3px solid #419d78;
}
.grow {
    transform: scale(0);
    animation:growUp 200ms ease-in 630ms forwards;
    -webkit-animation:growUp 200ms ease-in 630ms forwards;
}
.fs{
  display: flex;
  justify-content: flex-start;
}
.fe{
  display: flex;
  justify-content: flex-end;
}
.fc, .fjc{
  display: flex;
  justify-content: center;
}
.fcol{
  display: flex;
  flex-direction: column;
}
.fsa{
  display: flex;
  justify-content: space-around;
}
.fsb, .card .card-reveal .fsb.card-title{
  display: flex;
  justify-content: space-between;
}
.fac{
  display: flex;
  align-items: center;
}
.fae{
  display: flex;
  align-items: flex-end;
}
.fm{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tc{
  color: #ee6e73;
}
.allcaps{
  text-transform: uppercase;
}
.size18{
  font-size: 18px;
}
.tcb{
  font-family: Roboto-Bold;
  background: linear-gradient(to left, #fe9923 0%, rgba(255,0,0,.7) 99%)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}
.tbg{
  background-color: rgba(238, 110, 115, 0.7);
}
.bold{
  font-family: Roboto-Bold;
}
.blk{
  font-family: Roboto-Bold;
  color: rgba(0,0,0,0.87);
}
.gry{
  font-family: Roboto-Bold;
  color: rgba(0,0,0,0.57);
}
.c-hov{
  border-radius: 100px;
}
#card-header .activator{
  margin-left: 60px;
  font-size: 28px;
  /*width: 32px;*/
  /*height: 32px;*/
  cursor: pointer;
  opacity: .7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#expense-items li .regular-expense, .regular-item{
    display: flex;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

nav a.sidenav-trigger i.c-hov{
  margin-top: 8px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
.c-hov:hover{
  background-color: rgba(0,0,0,.07);
}

/*--------------UNIVERSALS END---------------*/

nav{
  background-color: white;
  color: rgba(0, 0, 0, 0.54);
}
nav ul a, nav a, nav .brand-logo{
  color: rgba(0, 0, 0, 0.54);
}



.sidenav .tabs{
  display: flex;
  flex-direction: column;
  height: auto;
}
.sidenav .tabs .indicator{
  display: none;
}

.sidenav li a[for^="#tab"]{
  background-color: transparent;
}


.sidenav a[for^="#tab"]{
  color: rgba(238, 110, 115, 0.7);
  cursor: pointer;
  transition: all 330ms;
}
.sidenav a[for^="#tab"]:hover{
  color: rgb(238, 110, 115)
}
.sidenav a[for^="#tab"].active{
  background-color: rgba(246, 178, 181, 0.2);
  color: #ee6e73;;
}

.tabs{
  width: auto;
  height: 100%;
}

nav .tabs .tab{
  line-height: 64px;
  height: 64px;
  font-family: Roboto-Bold;
}
.tabs .tab a{
  display: flex;
  align-items: center;
}

.row .col{
  padding: 0px;
}
.col .row{
  margin: 0px;
}

.tabs .indicator{
  height: 3px;
}

div[id^="tab"].active .tabcontent{
  opacity: 0;
  animation: fadeIn 630ms ease-in;
  animation-fill-mode: forwards;
}




#balance-form{
  min-width: 400px;
}
#balance-form ul{
  margin: 0px;
}
#transactions-form{
  min-width: 663px;
}
#transactions-form, #expenses-view{
  padding: 0px;
  padding-bottom: 20px;
  min-height: calc(100vh - 120px);
}
#expenses-view{
  margin-right: 20px;
  min-width: 350px;
}

#transactions-space,
#inventory-space,
#financial-space,
#balance-space,
#history-space{
  padding: 20px;
  height: calc(100vh - 85px);
}

.collapsible{
  margin: 0px 20px;
}

.background::after{
  background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,.7) 99%);
  content: "";
  position: absolute;
  left: 0px;
  height: 176px;
  width: 300px;
  top: 0px;
}

.transaction-items, #expense-items{
  max-height: 331px;
  overflow: auto;
}

.transaction-items::-webkit-scrollbar{
  width: 0px;
  background-color: transparent;
}
.transaction-items::-webkit-scrollbar-thumb{
  width: 6px;
  background-color: #bbb;
  opacity: .84;
}
#transactions-title, #transactions-bottomline{
  padding: 1rem;
  border: 1px solid transparent;
  border-bottom: transparent;
  /*height: 50px;*/
  margin: 0 20px;
  
}
#transactions-bottomline div{
  padding-left: 20px;
}

#card-header, #expenses-title{
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 8px 24px;
  margin-bottom: 15px;
  border-bottom: #e0e0e0 1px solid;
}
#card-header a.btn, .bottom.submit-btn{
  font-size: 16px;
  line-height: 38px;
  height: 38px;
  margin: 6px;
}

.sold-items .sold-item span, .buyers .buyer span{
  font-size: 16px;
  line-height: 1.5em;
}
input.datepicker.inv-dp{
  cursor: pointer;
  font-family: Roboto-Bold;
  color: rgba(0,0,0,0.3);
  line-height: 20px;
  height: 42px;
  max-width: 100px;
  text-align: center;
  border-bottom: none;
  margin: 0px;
  margin-left: 20px;
  padding: 0 1rem;
  text-transform: uppercase;
}

.add-new-product{
  width: 200px;
}
i.item-close{
  width: 42px;
  height: 42px;
  margin-left: 40px;
  cursor: pointer;
}
.product-field.unclicked .prod-qty, .product-field.unclicked .prod-rate, .product-field.unclicked i{
  display: none;
}
.product-field.unclicked{

}
.bottom.submit-btn{
  transition: all 330ms;
  padding: 0px 20px;
  transition: color .3s ease;
  text-transform: uppercase;
  margin: 6px 0px;
  color: white!important;
  text-decoration: none;
}



#expenses-modal .modal-content .expenses .expense .input-field{
  margin: 0px;
  margin-left: 20px;
}
#expenses-modal .modal-content .expenses .expense .input-field label,
#expenses-modal .modal-content .expenses .expense .input-field input{
  line-height: 30px;
}
#expenses-modal .input-field > label:not(.label-icon).active{
  transform: translateY(-8px) scale(0.8);
}

.another-product{
  margin-bottom: 40px;
}
.products-bought i.material-icons{
  display: none;
}
.products-bought.multiple-products i.material-icons{
  display: flex;
}
#transactions-form{
  transition: all 500ms ease-in;
}

#transactions-form .no-items, 
#expenses-view .no-items{
  display: none;
}
#transactions-form.empty .no-items, 
#expenses-view.empty .no-items{
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}


#transactions-form.empty #cust-tab,
#transactions-form.empty #prod-tab,
#expenses-view.empty #expenses-content,
#expenses-view.empty #expenses-bottomline,
#transactions-form.empty #transactions-bottomline{
  opacity: 0;
  display: none;
}
#transactions-bottomline{
  position: absolute;
  width: calc(100% - 40px);
  bottom: 0px;
  margin-bottom: 5px;
}

.unclicked div[class^="spd"]:not(:first-child) , .unclicked i.item-close {
  display: none;
}


/*#tab1 .card-reveal div .content .products-bought{
  height: calc(100% - 187.25px);
  width: 560px;
  margin: 0 calc(50% - 280px);
  overflow: auto;
}
*/

.modal .modal-content .modal.datepicker-modal, .card-reveal .modal.datepicker-modal{
  width: 355px;
}
.modal .modal-content .datepicker-modal .modal-content{
  position: relative;
}

#product-modal .supplies{
  height: calc(100% - 105px)
}

#transactions-form #card-header .tab a,
#transactions-form #card-header .btn.activator{
  font-family: Roboto-Bold;
}

#expenses-view #expenses-title{
  justify-content: flex-start;
  height: 64px;
  padding: 24px;
  text-transform: uppercase;
  font-family: Roboto-Bold;
  font-size: 14px;
  color: rgba(0,0,0,.54);
}

/*-----------------ANIMATIONS--------------------*/
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes growUp {
  0% { transform: scale(0) }
  80% { transform: scale(1.2) }
  100% { transform: scale(1) }
}
/*-----------------ANIMATIONS END--------------------*/